/* @author: Saul Neri */

:root {
  --hover-text-color-2: #aaaaaa;
  --note-marked-color: #eeeeee;
  --hover-text-color: #cccccc;
  --text-color: #555555;
  --main-color: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

nav {
  border-bottom: 1px solid var(--text-color);
  background-color: var(--main-color);
  color: var(--text-color);
  padding: 8px 0;
  display: flex;
  justify-content: baseline;
  width: 100vw;
  z-index: 999;
  align-items: baseline;
}

.nav-title {
  text-align: center;
  padding: 0 10px;
  width: 10vw;
  font-style: italic;
  font-weight: bold;
}

.nav-search {
  width: 40vw;
}

/* input element style */
input {
  border: 1.5px solid var(--text-color);
  background-color: inherit;
  transition: border 0.3s;
  color: var(--text-color);
  padding: 10px 10px;
  width: 90%;
  position: relative;
  margin: 0 auto;
}

input.error {
  border: 1px solid #ff2020;
}

textarea.error {
  border: 1px solid #ff2020;
}

textarea {
  border: 1.5px solid var(--text-color);
  background-color: inherit;
  transition: border 0.3s;
  color: var(--text-color);
  padding: 10px 10px;
  width: 90%;
  position: relative;
}

.btn {
  background-color: inherit;
  border: 1px solid var(--hover-text-color);
  width: 5.5rem;
  height: 2.25rem;
  color: var(--text-color);
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: var(--hover-text-color);
}

#add-note-btn {
  background-color: var(--main-color);
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 5vw;
  margin-bottom: 15vh;
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  color: var(--text-color);
}

#add-note-btn i {
  margin: 0 auto; /* positionate in the center of parent node */
}

#add-note-btn:active {
  background-color: var(--hover-text-color);
}


/* modal buttons sections */
.modal-btns {
  display: flex;
  flex-flow: row-reverse nowrap;
}

/* notes container */
#notes {
  width: 100vw;
  height: 30vh;
}

/* note template style */
.note {
  border-bottom: 1px solid var(--hover-text-color);
  transition: background-color 0.3s;
  color: var(--text-color);
  padding: 5px 10px;
  width: 95vw;
}

.note.is-marked {
  background-color: var(--note-marked-color);
}

.note-head {
  display: flex;
  justify-content: space-between;
}

.note-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: italic;
  font-weight: bold;
  overflow: hidden;
}

.note-options {
  display: flex;
  width: 50%;
  flex-flow: row-reverse;
  margin-right: 5px;
}

/* Note options buttons */
.note-options button {
  transition: color 0.3s, margin-bottom 0.2s;
  background-color: inherit;
  color: var(--text-color);
  padding: 5px 10px;
  margin: 0 12px;
  border: none;
}

.note-options button:hover {
  color: var(--hover-text-color);
}

.note-body {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;  /*corta el texto y le pone ... al final */
  padding-top: 2.5px;
  padding-bottom: 20px;
}

/* this is used when a note is pressed */
.expand {
  white-space: normal;
  text-overflow: auto; /*hace que el texto abarque el espacio que necesita, mostrandose todo...*/
} 


/* Notes filters buttons */
.notes-filter {
  border-bottom: 1px solid var(--text-color);
  background-color: var(--main-color);
  list-style-type: none;
  display: inline-flex;
  flex-flow: row;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 998;
}

.notes-filter li {
  color: var(--text-color);
  transition: background-color 0.2s;
  padding: 0.50rem;
  width: 50%;
}

.notes-filter li:hover {
  background-color: var(--hover-text-color);
}

@media screen and (max-width: 420px) {
  /* My notes mobile appearance */
  .note {
	width: 95vw;
  }

  #notes {
	width: 100vw;
  }

  .notes-filter {
	border-top: 1px solid var(--text-color);
	position: fixed;
	bottom: 0;
  }

  .notes-filter li {
	padding: 15px 0;
  }

  nav {
	padding: 10px 0;
  }

  .nav-title {
	text-align: center;
	padding: 0 20px;
	width: 20vw;
	font-style: italic;
	font-weight: bold;
  }

  .nav-search {
	width: 60vw;
  }
}


